*
{
    margin: 0;
    padding: 0;
}

body{
    background-color: lightblue
}

h1
{
    padding: 10px;
    color:rgb(47, 105, 155);
}

.GornjiDiv
{
    width: 99vw;
    height: 5vh;
    margin-left: 10px;
    margin-right: 10px;
    background-color:rgb(47, 105, 155); ;
    display: flex;
    align-items: center;
}

.GornjiDiv p
{
    color: white;
    margin-left: 65vw;
}

.Dugme
{
    height: 5vh;
    width: 7vw;
    border-right: solid white 1px;
    display: flex;
    align-items: center;
    justify-content: center;
    color: white;
}




.GlavniDiv
{
    margin-top: 20px;
    margin-left: 640px;
    width: 640px;
    height: 640px;
    background-color: red;
    display: flex;
    flex-direction: column;
}

.Tekst
{
    width: 640px;
    height: 120px;
    background-color: red;
}

.Slika
{
    width: 640px;
    height: 480px;
    
}

.DoleSlike
{
    width: 640px;
    height: 40px;
    display: flex;
}

.Slicica
{
    width: 64px;
    height: 40px;
    border: solid white 1px;
}


.Tekst
{
    width: 640px;
    height: 120px;
}



.GlavniDiv2
{
    margin-top: 20px;
    margin-left: 640px;
    width: 640px;
    height: 640px;
    background-color: rgb(47, 105, 155); ;
    display: flex;
    flex-direction: column;
}
.GlavniDiv3
{
    margin-top: 20px;
    margin-left: 640px;
    width: 640px;
    height: 640px;
    background-color: rgb(47, 105, 155); ;
    display: flex;
    flex-direction: column;
}

.GlavniDiv2 p
{
   color: white;
   
}
.GlavniDiv3 p
{
    margin: 10px;
   color: white;
   
}